<div class = "content">
  <div class = "container-fluid">
    <div class = "row">

      <div class = "col-md-12">
        <div class = "card">
          <div class = "card-header card-header-danger">
            <h4 class = "card-title"> KVN - Finance </h4>
            <p class = "card-category"> See our services. </p>
          </div>

          <div class = "p-5 card-body">
            <div class = "paragraph-title-1"> What do we provide? </div>
            <p class = "paragraph-content"> Our application provides a general overview in terms of finance and finance
              planning. </p>
            <span class = "pl-2"> We provide: </span>
            <ul>
              <li> Monthly statement of movements in your bank account. </li>
              <li> An overview of all transactions for a specific date. </li>
              <li> Detailed planning of future investments. </li>
            </ul>
            <p class = "paragraph-content"> The application is connected to the banking system from which the data for
              payments.
              These data are displayed in graphs and in the tables when filtering for a specific date. With this data it is possible
              further create a plan in which you get a detailed overview of your income, including planned investments.
              The output of planning gives you a month or year when you can make a planned investment.
            </p>


            <div class = "paragraph-title-1"> How does it work? </div>
            <div class = "paragraph-title-2"> Registration </div>
            <p class = "paragraph-content">
              To access the functions of our portal, you need to create a free account. Can be used for registration
              menu,
              in which the link to the registration is located. After successfully filling in the necessary data for registration, you will use in
              menu link
              to log in, then a window will appear in which you will fill in your data.
            </p>
            <div class = "paragraph-title-2"> Login </div>
            <p class = "paragraph-content">
              To log in, click on the Login item in the menu. Enter your email and password chosen during registration.
            </p>
            <div class = "paragraph-title-2"> Edit Profile </div>
            <p class = "paragraph-content">
              After successful login, an icon will appear in the upper right corner symbolizing your profile, in this section you
              you can edit
              or complete the necessary data. Further in this section you will find the password change and the option to delete the account.
            </p>
            <div class = "paragraph-title-2"> My Overview </div>
            <p class = "paragraph-content">
              The logged-in user gains access to the My Overview section via the menu.
            </p>
            <span class = "pl-2"> This section is divided into 2 sections: </span>
            <ul>
              <li> Savings Summary </li>
              <li> Transaction Summary </li>
            </ul>

            <div class = "paragraph-title-3"> Savings Overview </div>
            <p class = "paragraph-content">
              To access this section, you must fill in your account number. Once you do, the application calculates
              Your monthly movement in the bank account will evaluate the net monthly profit and display the entire monthly movement in a graph.
              <br/>
              The displayed data are always calculated and displayed for the previous month. However, if you do not have it set
              transaction,
              don't despair, you can change your monthly earnings using the box below the monthly movement chart
              (for display
              use this icon).
              <br/> <br/>
              Your monthly earnings must be positive, non-zero. After possible adjustment of the income, there is a box for setting yours
              possible amounts saved.
              This amount can be zero.
              <br/> <br/>
              Once you have set the mentioned data, 4 graphs will be displayed. Everyone can choose the type of chart that
              prefers from the menu is here
              bar and linear graph. The graphs show the future status of your account. This status is displayed with a certain
              tolerances. There is a choice
              immediately 5 possible (-5%, -2.5%, 0%, 2.5%, 5%). These tolerances are used to display possible fluctuations of yours
              net income.
              <br> <br>
              This tolerance can be filtered in the graph by clicking on the selected legend (at the top of the graph).
              <br/> <br/>
              So, for example, -5% represents that your monthly income will decrease by 5%, while 2.5% represents that your
              monthly income will increase by 2.5%.
              <br/> <br/>
              Another option is to use a wish sheet. This sheet is used to plan your future investment. If this
              you insert the wish into the sheet,
              the graphs will automatically change according to your input, the result will be the display in the graph, when you can make the given wish
              to meet.
              <br>
              Greeting card in a leaf