<div class="content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart">Company address</div>
          </div>
          <div class="card-body">

            <div class="z-depth-1-half map-container-5" id="map-container-google-9" style="height: 300px">
              <iframe
                allowfullscreen=""
                aria-hidden="false" height="450"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7253.68704077119!2d30.45272628239809!3d50.449885847251444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfab3ee715dd%3A0x7a566ff90c452a5f!2sKpi!5e0!3m2!1sen!2sus!4v1624028369405!5m2!1sen!2sus"
                style="border:0;" tabindex="0"
                width="600"></iframe>
            </div>

          </div>
        </div>
      </div>

      <div class="row col-md-12" id="bottInfo">
        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">home</i>

            </div>
            <div class="card-body p-0">
              <h6 class="card-category text-gray">Address</h6>
              <p class="card-description">
                Ukraine, Kyiv
                <br/>
                Polytehnichna str, 41
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">email</i>

            </div>
            <div class="card-body p-0">
              <h6 class="card-category text-gray">Email</h6>
              <p class="card-description">
                info@kvn.cz
                <br/>
                reditel@kvn.cz
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card-profile">
            <div class="mt-3 w-25 card-avatar">

              <i class="text-danger bg-transparent material-icons display-4">phone</i>

            </div>

            <div class="card-body p-0">
              <h6 class="card-category text-gray">Contacts</h6>
              <p class="card-description">
                Tel: +380 11-111-11-11
                <br/>
                Fax: 0111 111 1111
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>
</div>

