<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">PM - BackEnd - Developer</h6>
            <h4 class="card-title">Vlad Onischuk</h4>
            <p class="card-description">
              If it wasn't the deep green grass under the balloons, but the dry road or the concrete, it might be visible
               their colored shadows - both the sharp rays of the sun pass through the translucent colored balloons. But
               due to the ubiquitous grass, the shadows of the balloons are barely visible, let alone the color of the shadows
               have ..
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Follow</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">FrontEnd - Developer</h6>
            <h4 class="card-title">Kyrylo Starshynov</h4>
            <p class="card-description">
              They still more or less keep their height and do not move too much to the sides. Against the sun it looks like the sun
               it moves west faster than balloons, and maybe it really is. More than one philosopher could claim that
               Balloons race the sun, but physicists would certainly refute it. From a physical point of view.
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Follow</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img alt="profilePhoto" class="img" src="/src/assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Documents - Analytics</h6>
            <h4 class="card-title">Nazariy Teryatkin</h4>
            <p class="card-description">
              Well, what they would look like - like ordinary medium-sized fairground balloons, just inflated. Red up
               next to blue and green it seems a little smaller, but it's probably just an optical illusion, and even if it was really about
               a little smaller, so really just a little. The wind almost doesn't blow and so would.
            </p>
            <a class="btn btn-danger btn-round" href="javascript:;">Follow</a>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
